.projects-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}

.card-project{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 20px auto;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-title{
        position: relative;
        background: $white;
        color: black;
        text-align: center;
        padding: 4px 0;

        top: 0;
        width: 100%;

        h2{
            font-size: 15px;
            color: rgb(81, 81, 81);
        }

        i{
            position: absolute;
            background: #FF5F57;
            width: 12px;
            height: 12px;
            bottom: 30%;
            left: 15px;
            border-radius: 50%;

            &::before,
            &::after{
                content:'';
                position: absolute;
                width: 12px;
                height: 12px;
                left: 15px;
                border-radius: 50%;
            }

            &::before{
                background: #FFBD2E;
            }

            &::after{
                background: #28CA41;
                left: 30px;
            }
        }
    }
}

.container_paginate{
    height: 40px;
    margin: 40px auto 80px;
    padding: 0;
}

.paginationBttns {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    list-style: none;


    a {
        width: 30px;
        height: 30px;
        background: #c6b8f32f;
        color: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        cursor: pointer;
 
        &:hover {
            transition: 300ms ease;
            background: #c6b8f3f5;
        }
    }

    .active_pagination{
        background: #c6b8f3f5;
        border-radius: 50%;
    }
    
}

@media screen and (min-width:500px) {
    .paginationBttns {
        width: 80%;
        height: 40px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 14px;
        list-style: none;
        margin: 40px auto 80px;
    
        a {
            width: 35px;
            height: 35px;
            background: #c6b8f32f;
            color: black;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            cursor: pointer;
    
            
            &:hover {
                transition: 300ms ease;
                background: #c6b8f3f5;
            }
        }
    
        .active_pagination{
            background: #c6b8f3f5;
            border-radius: 50%;
        }
        
    }
}

@media screen and (min-width:768px){
    .projects-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 90%;
        margin: auto;
    }
    
    .card-project{
        position: relative;
        width: 100%;
        height: 250px;
        margin: 20px auto;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .card-title{
            position: relative;
            background: $white;
            color: black;
            text-align: center;
            padding: 4px 0;
    
            top: 0;
            width: 100%;
    
            h2{
                font-size: 15px;
                color: rgb(81, 81, 81);
            }
    
            i{
                position: absolute;
                background: #FF5F57;
                width: 12px;
                height: 12px;
                bottom: 30%;
                left: 15px;
                border-radius: 50%;
    
                &::before,
                &::after{
                    content:'';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    left: 15px;
                    border-radius: 50%;
                }
    
                &::before{
                    background: #FFBD2E;
                }
    
                &::after{
                    background: #28CA41;
                    left: 30px;
                }
            }
        }
    }
    
    .container_paginate{
        height: 40px;
        margin: 40px auto 80px;
        padding: 0;
    }
    
    .paginationBttns {
        width: 90%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        list-style: none;
    
    
        a {
            width: 30px;
            height: 30px;
            background: #c6b8f32f;
            color: black;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            cursor: pointer;
     
            &:hover {
                transition: 300ms ease;
                background: #c6b8f3f5;
            }
        }
    
        .active_pagination{
            background: #c6b8f3f5;
            border-radius: 50%;
        }
        
    }
    
    @media screen and (min-width:500px) {
        .paginationBttns {
            width: 80%;
            height: 40px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 14px;
            list-style: none;
            margin: 40px auto 80px;
        
            a {
                width: 35px;
                height: 35px;
                background: #c6b8f32f;
                color: black;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                cursor: pointer;
        
                
                &:hover {
                    transition: 300ms ease;
                    background: #c6b8f3f5;
                }
            }
        
            .active_pagination{
                background: #c6b8f3f5;
                border-radius: 50%;
            }
            
        }
    }
}

// .card-project{
//     background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
//     border-radius: 20px;
//     transition: all .3s;
//     width: min-content;

//     .card {
//         position: relative;
//         border-radius: 20px;
//         background-color: #1a1a1a;
//         transition: all .2s;

//         &:hover {
//             transform: scale(0.98);
//             border-radius: 20px;
//         }
        
//         &:hover {
//             box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
//         }
//     }

//     h2{
//         position: absolute;
//         bottom: 0;
//         background: white;
//         color: black;
//         width: 100%;
//     }

//     img{
//         border-radius: 20px;
//     }
// }

