@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//        Color variables
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$dark-blue:#030A1D;
$medium-blue:#2653BD;
$light-blue:#28C0F1;
$dark-purple:#6948CB;
$light-purple:#A48CFF;
$white:#FFFFFF;

$font-paragraph:'Poppins', sans-serif;